body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mab-pca-predict-capture-plus-suggestions {
    position: absolute;
    top: -500px;
    left: 0;
    width: 650px;
    height: auto;
    overflow: auto;
    background-color: #fff;
    border: solid 1px #e0e0e0;
    border-radius: 4px;
}

.mab-pca-predict-capture-plus-suggestion {
    display: block;
    width: 100%;
    line-height: 2em;
    border-bottom: solid 1px #e0e0e0;
    text-decoration: none;
    padding: 5px 10px;
}

.mab-pca-predict-capture-plus-suggestion:last-child {
    border-bottom: none;
}

.mab-pca-predict-capture-plus-suggestion:hover,
.mab-pca-predict-capture-plus-suggestion:visited,
.mab-pca-predict-capture-plus-suggestion:active {
    text-decoration: none;
}